asgiref==3.4.1
auth==0.5.3
backports.zoneinfo==0.2.1
beautifulsoup4==4.10.0
blinker==1.4
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
cryptography==36.0.2
cycler==0.11.0
decorator==5.1.0
defusedxml==0.7.1
Django==4.0
django-bootstrap-datepicker-plus==4.0.0
django-bootstrap4==21.1
django-crispy-forms==1.14.0
django-extensions==3.1.5
django-forms-bootstrap==3.1.0
django-smart-selects==1.5.9
django-widget-tweaks==1.4.12
dnspython==2.2.0
eventlet==0.33.0
extras==1.0.0
falcon==3.0.1
fonttools==4.31.2
fpdf==1.7.2
greenlet==1.1.2
gunicorn==20.0.2
idna==3.3
kiwisolver==1.4.2
lark-parser==0.12.0
matplotlib==3.5.1
mongoengine==0.24.0
numpy==1.22.3
packaging==21.3
Pillow==8.4.0
prettytable==3.1.1
psycopg2-binary==2.9.2
pycparser==2.21
pymongo==4.0
pyOpenSSL==22.0.0
pyparsing==3.0.7
python-dateutil==2.8.2
requests==2.27.1
required==0.4.0
self==2020.12.3
six==1.16.0
soupsieve==2.3.1
sqlparse==0.4.2
textinput==0.2.0
today==0.2
urllib3==1.26.8
users==1.0.dev0
wcwidth==0.2.5
Werkzeug==2.0.3
