{% extends 'home.html' %}
{% block contenedor %}
{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{{ frmSet.media }}


<div class="row mt-1">
                <div class="col-12 cards-container">
                  <div class="card border-0 shadow-sm">
                    <div class="card-header bgc-green-d3">
                      <h5 class="card-title text-110 text-white">
                       Respuesta del Oficio {{ TD }}
                      </h5>

                    </div><!-- /.card-header -->

                    <div class="card-body p-0 border-1 border-t-0 brc-green-m2">
                      <div class="bgc-secondary-l4 px-25 py-15 border-b-1 brc-secondary-l2">
                        <div class="btn-group mr-2">
                            {% include "layouts/proyectos/components/new_button.html" with NewItem=New %}

{#                          <button type="button" class="btn btn-bold btn-xs btn-bgc-white btn-outline-secondary btn-h-outline-danger btn-a-outline-danger">#}
{#                            <i class="fa fa-times text-110 text-danger-m1 mr-1"></i>#}
{#                            Reject#}
{#                          </button>#}

                        </div>

                        <div class="btn-group mr-2">
{#                          <button type="button" class="btn btn-bold btn-xs btn-bgc-white btn-outline-secondary btn-h-outline-info btn-a-outline-info">#}
{#                            <i class="fa fa-bold text-110"></i>#}
{#                          </button>#}
{##}
{#                          <button type="button" class="btn btn-bold btn-xs btn-bgc-white btn-outline-secondary btn-h-outline-info btn-a-outline-info">#}
{#                            <i class="fa fa-italic text-110"></i>#}
{#                          </button>#}
                        </div>

                        <div class="btn-group">
{#                          <button type="button" class="btn btn-bold btn-xs btn-bgc-white btn-outline-grey btn-h-outline-info btn-a-outline-info">#}
{#                            <i class="fa fa-align-left"></i>#}
{#                          </button>#}
{##}
{#                          <button type="button" class="btn btn-bold btn-xs btn-bgc-white btn-outline-grey btn-h-outline-info btn-a-outline-info">#}
{#                            <i class="fa fa-align-center"></i>#}
{#                          </button>#}
{##}
{#                          <button type="button" class="btn btn-bold btn-xs btn-bgc-white btn-outline-grey btn-h-outline-info btn-a-outline-info">#}
{#                            <i class="fa fa-align-right"></i>#}
{#                          </button>#}
                        </div>
                      </div>

                      <div class="p-3">

                        <table id="simple-table" class="mb-0 table table-borderless table-bordered-x brc-secondary-l3 text-dark-m2 radius-1 overflow-hidden">
                            <thead class="text-dark-tp3 bgc-grey-l4 text-90 border-b-1 brc-transparent">
                                <tr>
                                    <th>ID</th>
                                    <th>OFICIO</th>
                                    <th>RESPUESTA</th>
                                    <th>FECHA</th>
                                    <th>ARCHIVO</th>
                                    <th></th>
                                </tr>
                            </thead>
                          <tbody>
                            {% for respuesta in Oficio.respuestas.all %}
                                <tr>
                                    <td>{{ respuesta.id }}</td>
                                    <td>{{ Oficio.get_id }}</td>
                                    <td>{{ respuesta.respuesta }}</td>
                                    <td>{{ respuesta.fecha_respuesta }}</td>
                                    <td><a href="{{ respuesta.get_absolute_archivo_url }}" target="_blank">{{ respuesta.get_respuesta }}</a></td>
                                    <td>
                                      <div class="d-none d-lg-flex">
                                        {% include "layouts/proyectos/components/edit_button.html" with EditItem=respuesta.get_respuesta_edit%}
                                        {% include "layouts/proyectos/components/remove_button.html" with RemoveItem=respuesta.get_respuesta_remove %}
                                      </div>
                                    </td>
                                </tr>
                          {% endfor %}
                          </tbody>
                        </table>
                      </div>
                      </div>
                    </div><!-- /.card-body -->
                  </div><!-- /.card -->
                </div><!-- /.col -->


<div class="col-md-2"></div>

{% endblock %}
