        <!-- Sidebar -->
        <div id="sidebar" class="sidebar sidebar-fixed expandable sidebar-light" data-backdrop="true" data-dismiss="true" data-swipe="true">
          <div class="sidebar-inner">

            <div class="ace-scroll flex-grow-1 mt-1px" data-ace-scroll="{}">

              <!-- optional `nav` tag -->
              <nav class="pt-3" aria-label="Main">
                <ul class="nav flex-column has-active-border">
                    {% if request.path == '/home/' %}
                          <li class="nav-item active">
                    {% else %}
                          <li class="nav-item">
                    {% endif %}
                    <a class="nav-link" href="{% url 'home' %}">
                      <i class="nav-icon fa fa-home"></i>
                      <span class="nav-text fadeable">Inicio</span>
                    </a>
                  </li>

                    {% if request.path == '/oficios_list/0' %}
                          <li class="nav-item active">
                    {% else %}
                          <li class="nav-item">
                    {% endif %}
                    <a class="nav-link" href="{% url 'oficios_list' tipo_documento=0 %}">
                      <i class="nav-icon fa fa-edit"></i>
                      <span class="nav-text fadeable">Oficios Recibidos</span>
                    </a>
                  </li>

                    {% if request.path == '/oficios_list/1' %}
                          <li class="nav-item active">
                    {% else %}
                          <li class="nav-item">
                    {% endif %}
                    <a class="nav-link" href="{% url 'oficios_list' tipo_documento=1 %}">
                      <i class="nav-icon fa fa-edit"></i>
                      <span class="nav-text fadeable">Oficios Firmados</span>
                    </a>
                  </li>


                    {% if request.path == '/oficios_search_list/' %}
                          <li class="nav-item active">
                    {% else %}
                          <li class="nav-item">
                    {% endif %}
                    <a class="nav-link" href="{% url 'oficios_search_list'  %}">
                      <i class="nav-icon fa fa-edit"></i>
                      <span class="nav-text fadeable">Reporte de Oficios</span>
                    </a>
                  </li>


                </ul>
              </nav>

            </div><!-- /.ace-scroll -->


          </div>
        </div>

