{% load static %}

    <!-- include common vendor stylesheets & fontawesome -->
    <link rel="stylesheet" type="text/css" href="{% static './node_modules/bootstrap/dist/css/bootstrap.css' %}?timestamp">

    <link rel="stylesheet" type="text/css" href="{% static './node_modules/@fortawesome/fontawesome-free/css/fontawesome.css' %}?timestamp">
    <link rel="stylesheet" type="text/css" href="{% static './node_modules/@fortawesome/fontawesome-free/css/regular.css' %}?timestamp">
    <link rel="stylesheet" type="text/css" href="{% static './node_modules/@fortawesome/fontawesome-free/css/brands.css' %}?timestamp">
    <link rel="stylesheet" type="text/css" href="{% static './node_modules/@fortawesome/fontawesome-free/css/solid.css' %}?timestamp">



    <!-- include vendor stylesheets used in "Starter" page. see "/views//pages/partials/starter/@vendor-stylesheets.hbs" -->


    <!-- include fonts -->
    <link rel="stylesheet" type="text/css" href="{% static './dist/css/ace-font.css' %}?timestamp">



    <!-- ace.css -->
    <link rel="stylesheet" type="text/css" href="{% static './dist/css/ace.css' %}?timestamp">


    <!-- favicon -->
    <link rel="icon" type="image/png" href="{% static './assets/favicon.png' %}?timestamp" />

