            <div class="collapse navbar-collapse navbar-backdrop mr-2" id="navbarSearch">
{#              <form class="d-flex align-items-center ml-lg-4 py-1" data-submit="dismiss"  method="post" enctype="multipart/form-data" action="{% url 'oficios_search_data_list' %}"  >#}
              <form class="d-flex align-items-center ml-lg-4 py-1" data-submit="dismiss"  method="get" action="{% url mod_search %}"  >
{#                {% csrf_token %}#}
                <input type="text" class="navbar-input mx-3 flex-grow-1 mx-md-auto pr-1 pl-lg-4 ml-lg-n3 py-2 bgc-blue-tp4 rounded-pill autofocus" id="search" name="search" placeholder="Buscar..." value="{{ request.GET.search }}" aria-label="Search" />
                    <button type="submit" class="btn btn-link">
                        <i class="fa fa-search text-white d-none d-lg-block pos-rel "></i>
                    </button>
              </form>
            </div>
