{% extends 'home.html' %}
{% block contenedor %}
{% load bootstrap4 %}
{% bootstrap_css %}
{#{% bootstrap_javascript jquery='full' %}#}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{{ frmSet.media }}

<div class="row mt-1">
                <div class="col-12 cards-container">
                  <div class="card border-0 shadow-sm">
                    <div class="card-header bgc-green-d3">
                      <h5 class="card-title text-110 text-white">
                       Editando el Oficio: {{ Oficio.consecutivo }} {{ leyenda_form }}
                      </h5>

                    </div><!-- /.card-header -->

                    <div class="card-body p-0 border-1 border-t-0 brc-green-m2">

                      <div class="p-3">
                        <p class="mb-0 text-dark-m2">
                          <form method="post" enctype="multipart/form-data" action="/oficio_edit/{{ Oficio.id }}/{{ tipo_documento }}" id="FormData0">
                          {% csrf_token %}
                            <fieldset class="form-group">
                                {% bootstrap_form frmSet %}
                            </fieldset>
                           <input type="submit" class="btn btn-primary" value="Guardar">
                          <a href="{% url 'oficios_list' tipo_documento=tipo_documento %}" class="btn btn-secondary">Regresar</a>
                          </form>
                        </p>
                      </div>
                    </div><!-- /.card-body -->
                    <div class="card-footer bgc-green-d3">
                      <span class="card-title text-95 text-white float-left">
                       Modificado por: <b class="text-white text-uppercase  text-error">{{ Oficio.modi_por.username }}</b>
                      </span>
                      <span class="card-title text-95 text-white float-right">
                          Última modificación: <b class="text-white text-uppercase text-error">{{ Oficio.modi_el }}</b>
                      </span>
                    </div><!-- /.card-footer -->
                  </div><!-- /.card -->
                </div><!-- /.col
        </div>

<div class="col-md-2"></div>

{% endblock %}
