{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{{ frmSet.media }}

<form method="POST" action="{% url '/buscar_reporte/' %}"   accept-charset="UTF-8" enctype="multipart/form-data" id="formFullModal">
    {{ csrf_token }}

    <div class="modal-header bgc-orange-tp1 shadow-md">
        <h5 class="modal-title text-white-tp1 " >
            {{ TituloModal }}
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body modal-scroll bgc-orange-l3 shadow-md">
              <div class="p-3">
                {{ frmSet.name.errors }}
{#                <form method="post" enctype="application/x-www-form-urlencoded" action="{% url 'respuesta_edit' id=Respuesta.id  %}" id="FormData0">#}
                <form method="post" enctype="multipart/form-data" action="/respuesta_edit/{{ Respuesta.id }}" id="FormData0">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        {% bootstrap_form frmSet %}
                    </fieldset>
                    <input type="submit" class="btn btn-primary" value="Guardar">
                </form>
              </div>
    </div>e

    <div class="modal-footer bgc-dark-m1">
        <button type="submit" class="btn btn-green" id="btnSubmitFormModal">
            <i class="fas fa-search"></i>
            Aceptar
        </button>
    </div>

</form>
