[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/var/www/siad
ExecStart=/var/www/siad/venv/bin/gunicorn --bind unix:/run/gunicorn.sock siad.wsgi:application

#  ExecStart=/var/www/siad/venv/bin/gunicorn --workers 3 --bind unix:/run/gunicorn.sock siad.wsgi:application

[Install]
WantedBy=multi-user.target

# /etc/systemd/system/gunicorn.service


