{% extends 'home.html' %}
{% block contenedor %}
{% load static %}
{% load bootstrap4 %}
{#{% load bootstrap_pagination %}#}
{% bootstrap_css %}
{#{% bootstrap_javascript jquery='full' %}#}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{{ frmSet.media }}


<div class="row mt-1">
                <div class="col-12 cards-container">
                  <div class="card border-0 shadow-sm">
                    <div class="card-header bgc-green-d3">
                      <h5 class="card-title text-110 text-white">
                       Lista de Oficios Enviados
                      </h5>

                        {% include "layouts/partials/otros/paginator.html" %}

                    </div><!-- /.card-header -->

                    <div class="card-body p-0 border-1 border-t-0 brc-green-m2">
                      <div class="bgc-secondary-l4 px-25 py-15 border-b-1 brc-secondary-l2">
                        <div class="btn-group mr-2">
                            {% if is_subdirector > 0 or Roles.first.name == 'Administrador' %}
                            {% include "layouts/proyectos/components/new_button.html" with NewItem=New %}
                            {% endif %}

                        </div>

                        <div class="btn-group mr-2">
                        </div>

                        <div class="btn-group">
                        </div>
                      </div>

                      <div class="p-3">

                        <table id="simple-table" class="mb-0 table table-borderless table-bordered-x brc-secondary-l3 text-dark-m2 radius-1 overflow-hidden">
                            <thead class="text-dark-tp3 bgc-grey-l4 text-90 border-b-1 brc-transparent">
                                <tr>
                                    <th>Consec.</th>
                                    <th>OFICIO</th>
                                    <th>REMITENTE</th>
                                    <th>DEPENDENCIA(S)</th>
                                    <th>ASUNTO</th>
                                    <th>FECHA</th>
                                    <th>ARCHIVO</th>
                                    <th></th>
                                </tr>
                            </thead>
                          <tbody>
                            {% for oficio in page_obj %}
                                <tr>
                                    <td>{{ oficio.consecutivo }}</td>
                                    <td>{{ oficio.oficio }}</td>
                                    <td>{{ oficio.get_del_remitente }}</td>
                                    <td>
                                        <ul class="list-inline">
                                        {% for dependencia in oficio.destinatarios.all %}
                                            <li class="list-inline-item"><i class="fa fa-arrow-right mr-1"></i>{{ dependencia }}</li>
                                        {% endfor %}
                                        </ul>
                                    </td>
                                    <td>{{ oficio.asunto }}</td>
                                    <td>{{ oficio.fecha_oficio }}</td>
                                    <td><a href="{{ oficio.get_absolute_archivo_url }}" target="_blank">{{ oficio.get_oficio }}</a>   </td>
                                    <td>
                                      <div >
{#                                        {% include "layouts/proyectos/components/respuesta_button.html" with RespuestaItem=oficio.get_respuesta_new %}#}
                                        {% include "layouts/proyectos/components/edit_button_subdirector.html" with EditItem=oficio.get_oficio_edit %}
                                        {% include "layouts/proyectos/components/remove_button_subdirector.html" with RemoveItem=oficio.get_oficio_remove %}
                                      </div>
                                    </td>
                                </tr>
                          {% endfor %}
                          </tbody>
                        </table>
                      </div>
                      </div>
                    </div><!-- /.card-body -->
                  </div><!-- /.card -->
                </div><!-- /.col -->


<div class="col-md-2"></div>

{% endblock %}
